In [15]:
import pandas as pd

# Load the dataset
data = pd.read_csv('winequality-red.csv')

In [16]:
data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [17]:
data.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [18]:
# Fill missing values with mean
data = data.fillna(data.mean())

In [19]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [20]:
# Create a new column for average acidity
data['avg_acidity'] = (data['fixed acidity'] + data['volatile acidity']) / 2

In [21]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,avg_acidity
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4.05
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,4.34
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,4.28
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,5.74
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4.05

In [22]:
# Delete the columns 'fixed acidity' and 'volatile acidity'
data = data.drop(['fixed acidity', 'volatile acidity'], axis=1)

In [ ]:
data.head()

,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,avg_acidity
0,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4.05
1,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,4.34
2,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,4.28
3,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,5.74
4,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4.05

In [ ]:
# Drop duplicate rows
data = data.drop_duplicates()

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1359 entries, 0 to 1598
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   citric acid           1359 non-null   float64
 1   residual sugar        1359 non-null   float64
 2   chlorides             1359 non-null   float64
 3   free sulfur dioxide   1359 non-null   float64
 4   total sulfur dioxide  1359 non-null   float64
 5   density               1359 non-null   float64
 6   pH                    1359 non-null   float64
 7   sulphates             1359 non-null   float64
 8   alcohol               1359 non-null   float64
 9   quality               1359 non-null   int64
 10  avg_acidity           1359 non-null   float64
dtypes: float64(10), int64(1)
memory usage: 127.4 KB

In [25]:
# Print first 20 rows
print(data.head(20))

    citric acid  residual sugar  chlorides  free sulfur dioxide
0          0.00             1.9      0.076                 11.0  \
1          0.00             2.6      0.098                 25.0
2          0.04             2.3      0.092                 15.0
3          0.56             1.9      0.075                 17.0
4          0.00             1.9      0.076                 11.0
5          0.00             1.8      0.075                 13.0
6          0.06             1.6      0.069                 15.0
7          0.00             1.2      0.065                 15.0
8          0.02             2.0      0.073                  9.0
9          0.36             6.1      0.071                 17.0
10         0.08             1.8      0.097                 15.0
11         0.36             6.1      0.071                 17.0
12         0.00             1.6      0.089                 16.0
13         0.29             1.6      0.114                  9.0
14         0.18             3.8      0.176                 52.0
15         0.19             3.9      0.170                 51.0
16         0.56             1.8      0.092                 35.0
17         0.28             1.7      0.368                 16.0
18         0.08             4.4      0.086                  6.0
19         0.51             1.8      0.341                 17.0

    total sulfur dioxide  density    pH  sulphates  alcohol  quality
0                   34.0   0.9978  3.51       0.56      9.4        5  \
1                   67.0   0.9968  3.20       0.68      9.8        5
2                   54.0   0.9970  3.26       0.65      9.8        5
3                   60.0   0.9980  3.16       0.58      9.8        6
4                   34.0   0.9978  3.51       0.56      9.4        5
5                   40.0   0.9978  3.51       0.56      9.4        5
6                   59.0   0.9964  3.30       0.46      9.4        5
7                   21.0   0.9946  3.39       0.47     10.0        7
8                   18.0   0.9968  3.36       0.57      9.5        7
9                  102.0   0.9978  3.35       0.80     10.5        5
10                  65.0   0.9959  3.28       0.54      9.2        5
11                 102.0   0.9978  3.35       0.80     10.5        5
12                  59.0   0.9943  3.58       0.52      9.9        5
13                  29.0   0.9974  3.26       1.56      9.1        5
14                 145.0   0.9986  3.16       0.88      9.2        5
15                 148.0   0.9986  3.17       0.93      9.2        5
16                 103.0   0.9969  3.30       0.75     10.5        7
17                  56.0   0.9968  3.11       1.28      9.3        5
18                  29.0   0.9974  3.38       0.50      9.0        4
19                  56.0   0.9969  3.04       1.08      9.2        6

    avg_acidity
0        4.0500
1        4.3400
2        4.2800
3        5.7400
4        4.0500
5        4.0300
6        4.2500
7        3.9750
8        4.1900
9        4.0000
10       3.6400
11       4.0000
12       3.1075
13       4.2050
14       4.7600
15       4.7600
16       4.3900
17       4.3300
18       3.9950
19       4.1100

In [26]:
print(data.tail(6))

      citric acid  residual sugar  chlorides  free sulfur dioxide
1593         0.08             1.9      0.068                 28.0  \
1594         0.08             2.0      0.090                 32.0
1595         0.10             2.2      0.062                 39.0
1596         0.13             2.3      0.076                 29.0
1597         0.12             2.0      0.075                 32.0
1598         0.47             3.6      0.067                 18.0

      total sulfur dioxide  density    pH  sulphates  alcohol  quality
1593                  38.0  0.99651  3.42       0.82      9.5        6  \
1594                  44.0  0.99490  3.45       0.58     10.5        5
1595                  51.0  0.99512  3.52       0.76     11.2        6
1596                  40.0  0.99574  3.42       0.75     11.0        6
1597                  44.0  0.99547  3.57       0.71     10.2        5
1598                  42.0  0.99549  3.39       0.66     11.0        6

      avg_acidity
1593       3.7100
1594       3.4000
1595       3.2250
1596       3.4050
1597       3.2725
1598       3.1550